<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>테스트 페이지</title>
</head>
<body>
    <div>
        <h1><%= header %></h1>
        <p><%= msg %></p>

    </div>
</body>
</html>